.add-btn {
    font-style: normal;
    font-weight: 400;
    font-family: 'Roboto';
    border: none;
    margin-right: 17px;
    color: #F5F5F7;
    background: rgba(25, 41, 101, 0.9);
    border-radius: 12.5px;
}

.breadcrumb {
    .icon {
        margin: 0 14px;
        width: 17.5px;
        height: 13.5px;
    }
}

.sub-text {
    margin-top: -10px;
}