
<div class="circle-class">
<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" data-value="progress">
    <circle r="45" cx="50" cy="50" />
    <!-- 282.78302001953125 is auto-calculated by path.getTotalLength() -->
    <path class="meter"  
    [ngClass]="{  'profile-yellow': ( progress > 50 && progress < 75 ), 'profile-red': ( progress < 50 ), 'profile-green': ( progress > 75 ) }"
     d="M5,50a45,45 0 1,0 90,0a45,45 0 1,0 -90,0"  stroke-linecap="round" stroke-linejoin="round" stroke-dashoffset="282.78302001953125" stroke-dasharray="282.78302001953125" />
    <!-- Value automatically updates based on data-value set above -->
    <text x="50" y="50" text-anchor="middle" dominant-baseline="central" font-size="10"></text>
  </svg>


  <div class="image-class">
    <img  class="w-full h-full" [src]="imageSrc"/>
  </div>
</div>
