<div class="container flex flex-row justify-between items-center">
    <div class="header-container">
      <div class="title  flex flex-col justify-between">
        <div class=" roboto-bold  text-primary text-4xl mb-2">{{pageTitle}}</div>
        
        <p class="description text-base text-grey roboto-regular">{{pageDescription}}</p>
      </div>
    </div>
  
    <!-- <div class="flex flex-row content-center" >
      <div class="icon flex flex-row items-center justify-center" >
        <img class="mr-0 "
          src="assets/icons/notifications.png">
        </div>
      <div class="icon flex flex-row items-center justify-center"><img class="mr-0 "
          src="assets/icons/setting.png"></div>
      <div class="user flex items-center justify-around flex-row">
        <img class="mr-0 mr-sm-16" src="assets/images/avatars/Velazquez.jpg">
        <span class="username mr-4 w-28 elip-1" >{{user.name}}</span>
        <mat-icon >keyboard_arrow_down</mat-icon>
      </div>
    </div> -->
  </div>
  