.container {
    .title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: rgba(25, 41, 101, 0.9);
    }

    .description {
        font-size: 12px;
        line-height: 14px;
        margin: 5px 0;
        letter-spacing: 0.03em;
        color: #79869F;
    }
}

.user {
    padding: 12px 0px 12px 16px;
    width: 232px;
    height: 48px;
    font-size: 14px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 15%);
    border-radius: 10px;

    img {
        width: 24px;
        height: 24px;
        line-height: 40px;
        margin: 0 8px 0 0;
        border-radius: 50%;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
    }

    
}
.icon {
    width: 48px;
    height: 48px;
    margin-right: 24px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

img {
    height: 24px;
    width: 24px;
}

.elip-1 {
    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}