.common-header {
  display: flex;
  justify-content: center;
  background-color: #1d2022;
  border-bottom: 1px solid #333333;
  padding: 0.5rem 1.5rem;
}
.common-header > .container > .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5rem;
}
.common-header > .container > .left .logo {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.75rem;
}
.common-header > .container > .right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.common-header > .container > .right > .menu {
  display: flex;
  align-items: center;
}
.common-header > .container > .right > .menu .link {
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-left: 0.25rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #666666;
  transition: color 0.25s;
}
.common-header > .container > .right > .menu a:hover,
.common-header > .container > .right > .menu a.active {
  color: #cccccc;
}

.common-header > .container > .right > .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 1.3rem;
  background-color: #388e3c;
  margin-left: 1rem;
}
