#program-container {
    width: 100%;

    .content {
        padding: 27px;
    }

    .left-card {
        flex: 1.7;

        .card-title {
            font-style: normal;
            font-weight: 400;
            padding-left: 12px;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 30px;
            margin-top: 14px !important;
            color: #858997;
        }
    }

    .right-bar {
        flex: 1;
    }

    .breadcrumb {
        font-size: 14px;
        margin-top: 16px;
        margin-bottom: 21px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #707EAE;
    }

    .icon {
        margin: 0 14px;
        width: 20px;
    }

    .path {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;

    }
}

.breadcrumb {
    .icon {
        margin: 0 14px;
        width: 17.5px;
        height: 13.5px;
    }
}