<div class=" h-full mat-elevation-z0">
  <form [formGroup]="tableForm" class="flex flex-col justify-between" autocomplete="off">
    <ng-container formArrayName="VORows">
      <table #table mat-table matSort (matSortChange)="announceSortChange($event)" [dataSource]="dataSource"
        class="mat-elevation-z0 w-full">
        <tbody>
          <ng-container *ngFor="let heading of headerColumns; let y = index">
          <ng-container [matColumnDef]="heading?.value" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{heading?.label}} </th>
            <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element" (click)="selectRow(element)">

              <mat-form-field class="text-base" 
               style="font-size: 11px; width: 91%;"
               
                [appearance]="heading?.value != 'name' || tableForm.get('VORows').value[i]?.isEditable? 'none' : 'legacy'">
                <input matInput type="text" [formControlName]="heading?.value"
                  [readonly]="heading?.value != 'name' || tableForm.get('VORows').value[i]?.isEditable">
              </mat-form-field>
            </td>
          </ng-container>
        </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell  *matCellDef="let element; let i = index" [formGroup]="element">
              
                
              <!-- <mat-icon class=" text-sm text-gray-600" *ngIf="tableForm.get('VORows').value[i]?.isEditable"
                matTooltip="Delete" (click)="DeleteVO(tableForm,i)">delete</mat-icon>
                <mat-icon class=" text-sm text-gray-600 " 
                [ngClass]="{'disable': !(tableForm.get('VORows').value[i]?.edit)}"  *ngIf=" tableForm.get('VORows').value[i]?.isEditable"
                matTooltip="Edit" color="primary" >edit</mat-icon> -->
                <div class=" flex items-center h-full">
                  <mat-icon class="text-sm text-gray-500" matTooltip="Save Changes" (click)="SaveVO(tableForm,i)"
                *ngIf="!tableForm.get('VORows').value[i]?.isEditable">check_circle_outline</mat-icon>
                <mat-icon class="text-sm text-gray-500 mr-1" matTooltip="Cancel Changes" color="warn"
                (click)="CancelSVO(tableForm,i)" *ngIf="!tableForm.get('VORows').value[i]?.isEditable">highlight_off</mat-icon>
              
                <div class="cursor-pointer" *ngIf="tableForm.get('VORows').value[i]?.isEditable && !tableForm.get('VORows').value[i]?.isCoache" (click)="DeleteVO(tableForm,i)">
                  <img class="mr-2 delete"
                 src="assets/icons/delete.svg" /> </div>
                 <div  [ngClass]="{'disable': !(tableForm.get('VORows').value[i]?.edit)}"  
                 *ngIf=" tableForm.get('VORows').value[i]?.isEditable && !tableForm.get('VORows').value[i]?.isCoache" (click)="EditSVO(tableForm,i)">
                <img class="mr-2 edit" src="assets/icons/edit.svg" /></div>
                <div *ngIf="tableForm.get('VORows').value[i]?.isCoache">
                <img class="mr-2 message" src="assets/icons/message.svg" />
              </div>
                <div *ngIf="tableForm.get('VORows').value[i]?.isCoache">
                <img class="mr-2 chat" src="assets/icons/chat.svg" /></div>
              </div>               
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell w-full text-center" colspan="7">No data </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator #paginator pageSize=10 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </ng-container>
  </form>
  <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>