<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <!-- Card #35 -->
        <fuse-card class="flex flex-col items-center max-w-80 w-full p-8 filter-info shadow rounded-3xl bg-white">
            <div class="flex items-center justify-center p-3">
                <img src="../../../../assets/images/google-calendar.png" alt="">
            </div>
            <div class="text-2xl font-semibold leading-tight text-center mt-6">Google Calendar</div>
            <div class="text-center text-secondary mt-3">See your schedule and add session directly to your google
                account</div>
            <a class="px-6 mt-8" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                Connect
            </a>
        </fuse-card>
    </div>
</div>