.user-register {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-register .form {
  padding: 1.5rem 2rem;
  background-color: #1D2022;
  border: 1px solid #333333;
  border-radius: 0.2rem;
  width: 20rem;
}

.user-register .form .buttons {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  border-top: 1px solid #333333;
}