/* root */
.animation {
  transform: translateZ(0);
  will-change: transform;
}

/* fade */
/* - in */
.animation.fade-in {
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* - out */
.animation.fade-out {
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* blur */
/* - out */
.animation.blur-out {
  animation: blurOut 0.35s;
  animation-fill-mode: forwards;
}
@keyframes blurOut {
  from {
    filter: blur(0.75rem);
  }
  to {
    filter: blur(0);
  }
}

/* grow */
/* - in */
.animation.grow-in {
  animation: scaleIn 0.5s;
  animation-fill-mode: forwards;
}
@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/* slide */
/* - in */
.animation.slide-in {
  animation: slideIn 0.25s;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(-2rem);
    opacity: 0.1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* - up */
.animation.slide-up {
  animation: slideUp 0.25s;
  animation-fill-mode: forwards;
}
@keyframes slideUp {
  from {
    transform: translateY(2rem);
    opacity: 0.1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* - down */
.animation.slide-down {
  animation: slideDown 0.25s;
  animation-fill-mode: forwards;
}
@keyframes slideDown {
  from {
    transform: translateY(-3rem);
    opacity: 0.1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
