<div class="flex flex-col w-full">
    <div class="flex flex-row justify-between mx-6 mt-4">
        <div class="roboto-medium text-2xl">Insights</div>
        <div class="flex flex-row ">
            <div class="text-sm text-gray-200 ml-4 roboto-medium">
                <div class="flex flex-row ">
                    <mat-form-field>
                        <mat-select panelClass="engagement-filter" [(value)]="selected">
                            <mat-option value="all">Last Week</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row gap-3 justify-between mx-8 mt-4" *ngIf="!isLoading">

        <div class="flex items-start flex-col p-3  justify-between col-span-4 h-24 w-full border-2 rounded-lg">
            <div class="h-6 flex items-center justify-between w-full">
                <div class="text-sm roboto-medium">Engagements</div>
                <div class="icon">
                    <img class="mr-0 dots rotate-90" src="assets/icons/threedot.png" />
                </div>
            </div>
            <div class="mt-4 roboto-bold text-primary  text-xl mb-3">{{insightData?.engagementCount}}</div>
        </div>
        <div class="flex items-start flex-col p-3 justify-between col-span-4 h-24 w-full border-2 rounded-lg">
            <div class="h-6 flex items-center justify-between w-full">
                <div class="text-sm roboto-medium">Sessions</div>
                <div class="icon">
                    <img class="mr-0 dots rotate-90" src="assets/icons/threedot.png" />
                </div>
            </div>
            <div class="mt-4 roboto-bold text-primary  text-xl mb-3">{{insightData?.groupSessionCount +
                insightData?.oneOnOneSessionCount}}</div>
        </div>
        <div class="flex items-start flex-col p-3 justify-between col-span-4 h-24 w-full border-2 rounded-lg">
            <div class="h-6 flex items-center justify-between w-full">
                <div class="text-sm roboto-medium">Coachees</div>
                <div class="icon">
                    <img class="mr-0 dots rotate-90" src="assets/icons/threedot.png" />
                </div>
            </div>
            <div class="mt-4 roboto-bold text-primary  text-xl">0</div>
        </div>
        <div class="flex items-start flex-col p-3 justify-between col-span-4 h-24 w-full border-2 rounded-lg">
            <div class="h-6 flex items-center justify-between w-full">
                <div class="text-sm roboto-medium">Attendence</div>
                <div class="icon">
                    <img class="mr-0 dots rotate-90" src="assets/icons/threedot.png" />
                </div>
            </div>
            <div class="mt-4 roboto-bold text-primary  text-xl mb-3 ">{{insightData?.attendance}}%</div>
        </div>
    </div>
</div>