:host {

  ::ng-deep .mat-form-field-wrapper {

  }

  ::ng-deep .mat-form-field-flex {
    align-items: flex-end;
  }

  .mat-slide-toggle {
    ::ng-deep.mat-slide-toggle-thumb {
      width: 18px !important;
      height: 18px !important;
      transform: translate(50%, 50%);
      background: rgba(25, 41, 101, 0.9) !important;
    }

    ::ng-deep.mat-slide-toggle-bar {
      border: 1px solid grey !important;
      border-radius: 15px !important;
      width: 59px !important;
      height: 24px !important;
      background-color: transparent !important;
    }



    &.mat-checked {



      ::ng-deep.mat-slide-toggle-bar::after {
        content: 'Hide';
        font-size: 9px;
        font-weight: 700;
        font-family: 'Roboto';
        color: grey;
        position: absolute;
        left: 6px;
        top: -1px;
        border-radius: 15px !important;
        height: 20px !important;
        background-color: transparent;
      }
    }

    &:not(.mat-checked) {


      ::ng-deep.mat-slide-toggle-bar::after {
        content: 'Show';
        font-weight: 700;
        color: black;
        font-size: 9px;
        font-weight: 700;
        font-family: 'Roboto';
        position: absolute;
        left: 27px;
        top: -1px;
        border-radius: 15px !important;
        height: 20px !important;
        background-color: transparent;
      }
    }
  }
}

.mat-slide-toggle-thumb {
  width: 15px !important;
  height: 15px !important;
  transform: translate(50%, 50%);
}

.mat-slide-toggle-bar {
  background-color: #000;
  border-radius: 15px !important;
  height: 20px !important;
}

.mat-slide-toggle-thumb-container {
  left: -5px !important;
  top: -5px !important;
}

.searc-input {
  width: 100% !important;

}


.ux-gradient {
  background: linear-gradient(90deg, #FF2779 0%, #FF635C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}



.font-10 {
  font-size: 10px;
}

button :hover {
  background: none;
}


::ng-deep .difSized .mat-slide-toggle-thumb-container {
  left: -7px;
  top: -7px !important;
}

::ng-deep .dash .mat-slide-toggle-thumb-container {
  left: 11px;
  top: -7px !important;
}