<div class="absolute inset-0 flex flex-col min-w-0 overflow-auto">

    <div class="flex w-full flex-col flex-auto min-w-0 font-roboto ">

        <div class="w-full px-10  sm:p-10">

            <div class="flex flex-row justify-between items-end mb-6">
                <app-header class="w-full" [pageTitle]="pageTitle" [pageDescription]="pageDescription"></app-header>

                <div class="flex items-center justify-between w-full">
                    <div
                        class="bg-white pt-3 px-4 pb-2 shadow rounded-md flex items-center justify-between w-full tracking-wide">
                        <div class="w-full min-w-72">
                            <mat-form-field class="searc-input w-full" appearance="none">
                                <input id="text" [(ngModel)]="enteredSearchValue" matInput
                                    placeholder="Search user by name or email address" (input)="searchUser(enteredSearchValue)" />
                                <mat-icon matSuffix svgIcon="mat_solid:search" (click)="searchUser(enteredSearchValue)"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="">
                            <div class="flex items-center ml-4">
                                <div class="separator border-x">
                                    <button mat-button [matMenuTriggerFor]="menu">
                                        <div class="flex items-center  justify-center px-4 ">
                                            <mat-icon svgIcon="mat_solid:signal_cellular_alt"></mat-icon>
                                            <div class="text-sm font-grey roboto-medium  pl-2">
                                                Sort By
                                            </div>
                                        </div>
                                    </button>
                                    <mat-menu #menu="matMenu" class="px-2 border-b-2">
                                        <button class="first border-b-2" mat-menu-item (click)="sortAtoZ()">
                                            <div class="w-full roboto-regular border-b-2 text-center">A - Z</div>
                                        </button>
                                        <button mat-menu-item (click)="sortZtoA()"><div class="w-full roboto-regular text-center">Z - A</div></button>
                                    </mat-menu>
                                </div>
                                <div class="separator border-r w-36">
                                    <button mat-button [matMenuTriggerFor]="userRole">
                                        <div class="flex items-center px-4 ">
                                            <img class="mr-0" src="assets/icons/filter.png" />
                                            <div class="text-sm roboto-medium font-grey  pl-2">
                                                User Role
                                            </div>
                                        </div>
                                    </button>
                                    <mat-menu #userRole="matMenu" class="flex flex-col">
                                        <mat-checkbox #menuItems class="border-b-2" *ngFor="let item of userTypes; let i = index;"
                                            (change)="toggle(item, $event)"
                                            (click)="$event.stopPropagation()">{{item}}</mat-checkbox>
                                    </mat-menu>
                                </div>

                                <div class="separator  flex items-center h-10">
                                    <button class="flex items-center cursor-pointer  pl-4 "
                                        routerLink="/user-management/add-user">
                                        <div class="!flex !items-center">
                                            <img class="mr-3 w-5 h-5" src="assets/icons/Activity.png" />
                                        </div>
                                        <a class="text-sm font-grey roboto-medium font-10 w-24 text-left  pl-2">
                                            Add User
                                        </a>
                                    </button>

                                </div>

                                <!-- <button class="flex items-center  pl-4 " routerLink="/programs/create-program">
                                <div class="!flex !items-center">
                                    <mat-icon svgIcon="mat_solid:post_add"></mat-icon>
                                </div>
                                <a class="text-sm font-10 w-24 text-left font-grey roboto-medium pl-2">
                                    Upload Users
                                </a>
                            </button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-breadcrum></app-breadcrum>
            <div class="overflow-hidden" [ngClass]="{  'cards': (!loadMore) , 'h-fit': (loadMore) }">
                <div
                    class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-4 lg:grid-cols-4  xl:grid-cols-3 2xl:grid-cols-4 gap-7 w-full min-w-0 mt-8">
                    <fuse-card class="w-full">
                        <div class="flex flex-col flex-auto px-4  py-3  h-48 justify-between items-center max-w-md bg-card shadow rounded-2xl overflow-hidden 
                    md:w-80 lg:w-60 xl:w-90 w-80 bg-primary" routerLink="/user-management/add-user">
                            <div class="flex flex-row justify-between items-center w-full">
                                <div class="font-bold text-white text-xl"> Add User</div>
                                <img class="mr-3 w-5 h-5" src="assets/icons/Activity-white.png" />
                            </div>

                            <div class=" text-white roboto-medium w-full  text-base">
                                Add users based on roles
                                <div class="text-sm"> Coach/Coachee/Manager</div>
                            </div>
                        </div>

                    </fuse-card>
                    <fuse-card class="w-full" *ngFor="let user of userDetails; let i = index">
                        <div class="flex flex-col flex-auto  px-4  py-3 h-48 justify-between items-center max-w-md bg-card shadow rounded-2xl overflow-hidden
                md:w-80 lg:w-60 xl:w-90 w-80 " [ngClass]="{  'opacity-50': ( !user.isActive)}">
                            <div class="flex flex-row w-full mb-2">

                                <div class="ml-2">
                                    <div class="roboto-regular  text-lg text-primary leading-3">{{user.roleName}}
                                    </div>
                                    <div class=" roboto-light mt-1 text-sm font-grey roboto-regular">
                                        {{user.createdDate | date: 'MMMM d, y'}}
                                    </div>
                                </div>
                                <div class="flex-1 justify-end flex">
                                    <div class="roboto-regular mr-2 text-sm font-grey leading-3">{{user.isActive ?
                                        'Active' : 'Inactive'}}</div>
                                    <label class="switch">
                                        <input type="checkbox" [checked]='user.isActive'>
                                        <span class="slider round"></span>
                                    </label>
                                </div>

                            </div>
                            <div class="flex flex-row w-full items-center mb-3 ">
                                <app-profile-bar [progress]="user.profileProgress" [index]="i"
                                    [imageSrc]="profilePicPath + user.profilePicture "></app-profile-bar>
                            </div>
                            <div class="flex flex-row w-full mb-2">
                                <div class="ml-2 roboto-medium ">
                                    <div class="roboto-medium  text-primary text-base leading-3">{{user.name}}
                                    </div>
                                    <div class="text-sm mt-1 font-grey roboto-regular">Delhi, India</div>
                                </div>
                                <div class="flex-1 justify-end flex">
                                    <div class="bg-gray-100 w-6 h-6 mr-6 flex items-center justify-center rounded-full">
                                        <img class="mr-0 w-3 width-ico" src="assets/icons/message-blu.png">
                                    </div>
                                    <div class="bg-gray-100 w-6 h-6 flex items-center justify-center rounded-full">
                                        <img class="mr-0 w-3 h-3" src="assets/icons/chat-bar.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fuse-card>
                </div>
            </div>
            <div *ngIf="!loadMore" (click)="loadMoreCards()"
                class="cursor-pointer m-auto rounded-xl items-center load-more flex justify-center bg-white">Load more
            </div>

        </div>
    </div>

</div>
